body{
  background: lightgray;
}
input{
  padding: 6px 5px;
  border: none;
}
input[type='submit']{
  margin-left: 180px;
  margin-top: 15px;
  border: 1px dashed red;
  padding: 2px 6px;
  /*font-family: Arial;*/
  font-size: 1em;
  background: #de9212;
  color: #ececf5;
}
span{
  font-size: 1.1em;
  font-family: sans-serif;
}
.parol{
  margin-left: 10px;
  margin-top: 10px;
}
.login{
  margin-left: 8px;
}
.main{
  margin: 230px 500px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 3px 20px #555;
  background: #009688;
  padding: 10px;
}
.log{
  color: #fff;
}
li{
  list-style-type: none;
  margin-bottom: 10px;
}
